<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.developer.example.clumatrix">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Clumatrix">
        <activity
            android:name=".menu.ResultActivity"
            android:label="Result"
            android:exported="false" />
        <activity
            android:name=".menu.ExamActivity"
            android:label="Exam"
            android:exported="false" />
        <activity
            android:name=".menu.HolidayActivity"
            android:label="Holiday"
            android:exported="false" />
        <activity
            android:name=".menu.TimeTableActivity"
            android:label="TimeTable"
            android:exported="false" />
        <activity
            android:name=".menu.TeacherActivity"
            android:label="Teacher"
            android:exported="false" />
        <activity
            android:name=".menu.AssignmentActivity"
            android:label="Assignment"
            android:exported="false" />
        <activity
            android:name=".menu.AttendanceActivity"
            android:label="Attendance"
            android:exported="false" />
        <activity
            android:name=".menu.ApiActivity"
            android:label="API"
            android:exported="false" />
        <activity
            android:name=".Dashboard"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>